<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>two way databinding</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js "></script>
</head>
<body>
<script>
    var app = angular.module('app', []);
    app.controller('myController', function($scope) {
        $scope.FullName="";
        $scope.Address = "";
    });
</script>


<div ng-app="app" ng-controller="myController">
    <p>Change values of textbox</p>
    <p>
        Full Name: <input type="text" ng-model="FullName" value=""/> <br /> <br />
        Address: <input type="Text" ng-model="Address" />
    </p>
    <hr />
    <p>
        Full Name: <span style="background-color:yellow;">{{FullName}}</span><br/>
        Address: <span style="background-color:yellow;" ng-bind="Address"></span>
    </p>
</div>
</body>
</html>