<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ngSubmitEvent</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-app="mainModule">
<div ng-controller="mainController">
        <form ng-submit="submitLogin()">
            <table>
                <tr><th colspan="2">Login</th></tr>
                <tr><td>Username: </td><td><input type="text" name="txtLogin"
                                                  ng-model="Username" placeholder="Enter username" /></td></tr>
                <tr><td>Password: </td><td><input type="password" name="txtPassword"
                                                  ng-model="Password" placeholder="Enter password" /></td></tr>
                <tr><td>&nbsp;</td><td><input type="submit" value="Submit" /></td></tr>
            </table>
        </form>
    {{formData}}

</div>

<script>
    var myApp = angular.module('mainModule',[]);
    myApp.controller('mainController',['$scope', function($scope){
        $scope.submitLogin = function(){
            $scope.formData = 'Username is :' + $scope.Username + 'Password is :'+ $scope.Password;
        }
    }]);
</script>

</body>
</html>