<!DOCTYPE html>
<html lang="en">
<head>
    <title>form and ajax call</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


</head>
<style>
    .even{
        background-color: green;
    }
</style>
<body ng-app="mainModule">

<div class="container" ng-controller="postuserController">

    <form>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="uData.email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="uData.password">
        </div>

        <label for="sel1">Select Country (select one):</label>
        <select class="form-control" id="sel1" ng-model="uData.country">
            <option selected>Select</option>
            <option>Nepal</option>
            <option>China</option>
            <option>USA</option>
            <option>Canada</option>
        </select>
        <label>Gender:
        <div class="radio">
            <label><input type="radio" name="optradio" ng-model="uData.gender">Male</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" ng-model="uData.gender">Female</label>
        </div>
        </label>
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default" ng-click="postUserDetails()">Submit</button>
    </form>
</div>


<!--to get the json data-->
    <table border="1" id="detailsInfo" ng-controller="loadUserController" class="table table-hover">
        <thead>
        <th>S.N.</th>
        <th>Email</th>
        <th>Password</th>
        <th>Country</th>
        <th>Gender</th>
        </thead>
        <tbody>
        <tr ng-repeat="details in userDetails" ng-class="{'even':$index%2==0}">
            <td>{{$index}}</td>
            <td>{{details.email}}</td>
            <td>{{details.password}}</td>
            <td>{{details.country}}</td>
            <td>{{details.gender}}</td>
            <td ng-click="editUser(details)">Edit</td>
        </tr>
        </tbody>
    </table>
<script type="text/javascript" rel="script" src="formAndAjaxCall.controller.js"></script>
</body>
</html>
