<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filter json data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="mainModule">
<div ng-controller="mainController">
    Filter by any od details: <input type="text" ng-model="mysearch.$">
    Filter by address: <input type="text" ng-model="mysearch.address">
    Filter by any od details: <input type="text" ng-model="mysearch.pin">
    <p><input type="checkbox" ng-model="exact" /></p>
    <table class="userTable">
        <tr>
            <th>Username</th>
            <th>Address</th>
            <th>Pin</th>
        </tr>
        <!--<tr ng-repeat="student in studentDetails | filter:allKeyword">-->
        <tr ng-repeat="student in studentDetails | filter:mysearch:exact">
            <td>{{student.username}}</td>
            <td>{{student.address}}</td>
            <td>{{student.pin}}</td>
        </tr>
    </table>

</div>
<script>
    var students = [
        { username: 'SheoNarayan', address: 'Hyderabad', pin : '500049' },
        { username: 'Munna', address: 'Bokaro', pin: '82565 98' },
        { username: 'Jay', address: 'Aurangabad', pin: '824101' },
        { username: 'Sreeni', address: 'New York', pin: 'BY-524' }
    ];

    var myApp = angular.module('mainModule',[]);
    myApp.controller('mainController',function($scope){
        $scope.studentDetails = students;
    });
</script>
</body>
</html>